.MobileContainer {}

img {
    border-radius: 1px;
    /* height: 150px;
    max-width: 1900px; */
}

.image{
    border-radius: 1px;
}

.image{

}

#topDealsBanner {
    width: 100%;
    height: auto;
    display: block;
}

